h1{
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    color: lightskyblue;
}

body {
    background-image: url('../images/inscription.jpg');
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 16px 20px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

button {
    background-color: lightskyblue;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: rgb(0, 132, 255);
}

.container {
    margin: auto;
    padding: 14px;
    width: 30%;
    margin-bottom: 150px;
    background-color: white;
    align-content: center;

}
