.image {
    width: 200px;
    height: 250px;
    margin-top: 4%;
}

.produit {
    display: inline-block;
    width: 24%;
    height: 80%;
    border: 1px solid black;
    text-align: center;
    margin-right: 7px;
    margin-top: 7px;
    background-color: rgb(94, 74, 37);
}
#achat {
    background-color: rgb(226, 110, 33);
}
#info {
    background-color: rgba(94, 255, 0, 0.822);
    margin-top: 7%;
}
body{
    background-image: url('../images/gifcatalogue.jpg');
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: repeat;
    background-size: 100%;
    background-position: center center;
}
.text {
    width: 100%;
    height: 100%;
}