.image {
    width: 200px;
    height: 250px;
}
.produit {
    display: inline-block;
    width: 24%;
    height: 24%;
    border: 1px solid black;
    text-align: center;
    margin-right: 7px;
    margin-top: 7px;
    background-color: rgb(94, 74, 37);
}
#achat {
    background-color: rgb(226, 110, 33);
}
#info {
    background-color: rgba(94, 255, 0, 0.822);
}
body{
    background-image: url('gifcatalogue.jpg');
}