h3 {
    font-size: 28px;
    text-align: center;
}

tb1 {
    border-collapse: collapse;
    width: 100%;
    margin: 50px 250px;
}


th, td{
    padding: 50px;
    text-align: left;
    border-bottom: 1px solid lightslategrey;
    font-size: 25px;
}

td:hover{
    background-color: lightgrey;

}

td img{
    width: 105px;
    height: 105px;
}


button{
    background-color: orangered;
    color: white;
    padding: 10px 16px;
    margin: 50px 500px;
    border: none;
    cursor: pointer;
    width: 10%;
}

button:hover{
    background-color: red;
}

tbody{
    text-align: center;
}

p{
    font-size: 40px;
    font-style: italic;
}
